/* Border Text */

#border {
    position: absolute;
    z-index: 4;
    bottom: 71.5px;

    width: 694px;
    height: 26px;
}

#border .text {
    display: inline-block;
    font-size: 20px;
    height: 24px;

    line-height: 1;
    margin: 0;
    padding: 0;
}

/* Border Text - Bottom Left */

#bottom-left {
    position: absolute;
    align-items: center;
    padding-left: 12px;
    height: 24px;
}

#bottom-left .text {
    position: absolute;
    left: 41px;
    width: 300px;
}

#bottom-left img {
    position: absolute;
    height: 16px;
    margin-right: 6px;
    top: 3px;
    box-sizing: border-box;
}

/* Border Text - Bottom Right */

#bottom-right {
    position: absolute;
    align-items: center;
    padding-right: 12px;
    height: 24px;
    left: 458px;

    text-align: right;
}

#bottom-right .text {
    position: absolute;
    width: 200px;
    /*left: 462px;*/
}

#bottom-right img {
    position: absolute;
    height: 20px;
    margin-left:6px;
    top: 2px;
    box-sizing: border-box;
    /*right: 12px;*/
    left: 200px;
}

/* Team Logo and Name */
#topLeft {
    display: flex;
    align-items: center;
    position: absolute;
    top: 73.5px;
    z-index:3;

    width: 678px;
    height: 64px;

    display: flex;
    vertical-align: center;
}

#team-logo {
    margin-right: 16px;
    height: 64px;
}

#team-name {
    font-size: 40px;
    line-height: 36px;
    text-shadow: 3px 3px 6px #000;
}

/* Player Number and Name */
#player {
    position: absolute;
    z-index: 2;
    bottom: 0;

    width: 652px;

    padding-left: 86.5px;
    padding-right: 86.5px;
    padding-bottom: 133.5px;
}

#top-line {
    font-size: 64px;
    line-height: 56px;
    text-shadow: 7px 7px 6px #000;
}

#bottom-line {
    font-size: 96px;
    line-height: 78px;
    text-shadow: 9px 9px 6px #000;
}

#rare-title {
    text-align: left;
    font-size: 64px;
    line-height: 64px;
    text-shadow: 7px 7px 6px #000;
}

#rare-caption {
    text-align: left;
    font-size: 16px;
    text-shadow: 7px 7px 6px #000;
}

