/* FONTS */
@font-face {
	font-family: 'Lato';
	src: url('../assets/fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Fugaz One';
	src: url('../assets/fonts/FugazOne-Regular.ttf') format('truetype');
}

.lato {
	font-family: "Lato";
}

.fugaz-one {
	font-family: "Fugaz One";
}

/* FONT OPTIONS */

.right {
	text-align: right;
}

/* MAIN DIVS */

body {
	text-transform: uppercase;
	color: white;
}

/* H1 H2 */
h1, h2 {
	color: black;
	margin: 0;
	padding: 0;
	text-align: center;
}

h3 {
	color: darkred;
	font-size: 12px;
	text-align: center;
	margin: 0;
	padding: 0;
}