#inputs {
    text-transform: none;
    color: black;
}

#card-type, #errors, #adjust-background, .card-buttons {
    margin-top: 16px;
    margin-bottom: 16px;
}

#faq {
    font-size: 13px;
}

.ques {
    margin-top: 4px;
    font-weight: bold;
    color: darkred;
}

.ans2 {
    color: #666;
    font-size: 11px;
}

.card-buttons h3 {
    text-align: left;
    font-size: 12px;
}

#input-jersey-number {
    width: 50px;
}

.hint-red {
    color: red;
    font-size:12px;
}

#submit-card {
    color: black;
    font-size: 16px;
}

#show-trim-line {
    margin: 0 4px 0 0;
    padding: 0;
}

#errors {
    color: red;
}

#adjust-background label {
    display: inline-grid;
    width: 64px;
    height: 16px;
    font-size: 12px;
}

#adjust-background input {
    position: relative;
    top: 4px;
    margin: 0 6px 0 6px;
    padding: 0;
}

.adjust-left {
    text-align: right;
}

summary {
    font-size: 18px;
}

#faq {
    border-top: 1px solid black;
    padding-top: 10px;
}